<p-growl [(value)]="msgs"></p-growl>
<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <form ngNativeValidate [formGroup]="reactiveForm" (ngSubmit)="guardar()"
            class="form-horizontal form-material"
            id="abmusuario">

        <h2 class="card-title" *ngIf="!this.usuario?.id">Nuevo Usuario</h2>
        <h2 class="card-title" *ngIf="this.usuario?.id">Editar Usuario</h2>
        <h6 class="card-subtitle" *ngIf="this.usuario?.id">{{usuario?.fullName}}</h6>
        <div class="form-row">
          <div class="form-group col-4">
            <label for="username">Username</label>
            <input type="text" pInputText class="form-control" id="username" name="username" formControlName="username"
              placeholder="Username">
          </div>

          <div class="form-group col-4">
            <label for="password">Password</label>
            <input type="password" pInputText data-toggle="password" name="password"
                  class="form-control" id="password"
                  formControlName="password" placeholder="Password">
          </div>

          <div class="form-group col-4">
            <label for="retypedPassword">Confirme Password</label>
            <input type="password" data-toggle="password" pInputText name="retypedPassword"
                  class="form-control"
                  id="retypedPassword" formControlName="retypedPassword" placeholder="Confirme Password">
          </div>
          <div class="form-group " *ngIf="reactiveForm.errors?.sonIguales && !reactiveForm.pristine">
            <p class="text-danger">
              Las Contraseñas deben ser iguales
            </p>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <label for="fullName">Nombre y Apellido</label>
            <input type="text" class="form-control" name="fullName" id="fullName" pInputText formControlName="fullName"
              placeholder="Nombre y Apellido">
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input pInputText type="email" pInputText class="form-control" name="email" id="email"
              formControlName="email" placeholder="Email">
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <p-listbox [options]="rolesDisponibles" formControlName="roles"></p-listbox>
        </div>
        <div class="row col-lg-12">
          <button type="submit" [disabled]="!reactiveForm.valid"
            class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Guardar
          </button>

          <button type="button" (click)="cancelar()" class="btn btn-secondary ml-4">
            <i class="pi pi-caret-left"></i>
            Cancelar
          </button>
        </div>
        {{reactiveForm.valid}}
      </form>
    </div>
  </div>
</div>
