<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
          <input #filterNombreOrDniInput type="text" pInputText size="50"
          placeholder="'Apellido Nombre' o 'Documento'"
          [(ngModel)]="filterNombreOrDni">
        <button pButton type="button" icon="fa fa-close" (click)="filterNombreOrDni=null"></button>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">

    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor...</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          Usuarios Registrados(
          <small>{{totalRecords}}</small>
          )
        </h3>

        <p-table #dt [columns]="cols" [value]="usuarios" [lazy]="true" (onLazyLoad)="loadUsuariosLazy($event)"
          [paginator]="true" [rows]="nroFilasPorPagina" [totalRecords]="totalRecords" [loading]="loading">

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [className]="'header-'+col.field">
                {{col.header}}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowUsuario let-columns="columns">
            <tr [pSelectableRow]="rowUsuario">
              <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <div *ngSwitchCase="'username'">{{rowUsuario.username}}</div>
                <div *ngSwitchCase="'name'">{{rowUsuario.name}}</div>
                <div *ngSwitchCase="'email'">{{rowUsuario.email}}</div>
                <div *ngSwitchCase="'enabled'">{{rowUsuario.enabled}}</div>
                <div *ngSwitchCase="'confirmationToken'">{{rowUsuario.confirmationToken}}</div>
                <div *ngSwitchCase="'accion'">
                  <div class="ui-g-12  ui-g-nopad">
                    <div class="ui-g-3  ui-g-nopad">
                      <p-button icon="fa fa-edit" iconPos="left" ptooltip="Editar"
                        (click)="editarUsuario(rowUsuario.id)"></p-button>
                    </div>
                    <div class="ui-g-3  ui-g-nopad">
                      <p-button icon="fa fa-remove" iconPos="left"></p-button>
                    </div>
                  </div>
                </div>
                <div *ngSwitchDefault>{{rowUsuario[col.field]}}</div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
